<div class="preview-panel" id="preview-{{ obj.id }}">
  {% set preview_type = preview.preview_type %}
  {% set preview_content = preview.preview_content %}
  {% if preview_type == "html_table" %}
  <div class="preview-table-wrapper">{{ preview_content|safe }}</div>
  {% elif preview_type == "markdown" %}
  <div class="preview-markdown">{{ preview_content|safe }}</div>
  {% elif preview_type == "code" %}
  <div class="preview-code">{{ preview_content|safe }}</div>
  {% elif preview_type == "image" %}
  <div class="preview-image">{{ preview_content|safe }}</div>
  {% else %}
  <pre class="preview-text">{{ preview_content }}</pre>
  {% endif %}
</div>
